docs
build-*
bin/*.exe
bin/*.iobj
bin/*.ipdb
bin/*.bat
bin/*.flv
bin/*.mp4
XRtmpStreamer/Release/*
XRtmpStreamer/.vs/

*.bat
*.user
*.suo
*.bin
*.obj
*.pdb
*.pch
*.tlog
*.res
*.o
*.bak
*.log
*.user
*.user.*
*.opensdf
*.orig
*.autosave
